* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d7d7d7;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    text-align: center;
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
    color: #1d9eb4;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.1rem;
    color: #333333;
    margin-bottom: 2rem;
}

.versions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.versions a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #4a5056;
    padding: 1rem;
    border-radius: 2rem;
    transition: background-color 0.7s ease, transform 0.3s ease;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    font-weight: bold;
    font-size: 1.1rem;
}

.versions a:hover {
    background-color: #1c535f;
    transform: translateY(-7px);
    color: rgb(0, 213, 255);
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.3));
}

@media screen and (max-width: 800px) {
	.versions {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.versions {
		grid-template-columns: repeat(2, 1fr);
	}
}
